@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}


@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1445px;
    margin: 0 auto;
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-family: Gilroy-Bold;
    color: #070707;
    font-weight: 400;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    padding: 0 250px;
    position: relative;

    &__nav {
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #828282;


        &-link {
            color: #828282;
        }

        &-link:hover {
            color: #070707;
        }

        &-close {
            display: none;
            position: absolute;
            z-index: 1;
            top: 40px;
            right: 70px;
            cursor: pointer;
        }

        &-close:hover rect {
            fill: #070707;
        }

    }

    &__burger {
        position: absolute;
        top: 52px;
        right: 30px;
        border: none;
        background: none;
        display: none;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;


        &-title {
            font-size: 47.339px;
        }

        &-txt {
            font-family: Gilroy-Medium;
        }
    }

    &__img {
        padding-bottom: 100px;
        width: 100%;
        height: auto;
    }
}

.about {
    padding: 120px 30px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__title {
        font-size: 34px;
    }

    &__txt {
        font-family: Gilroy-Medium;
    }
}

.skills {
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        padding-bottom: 70px;
        font-size: 34px;
    }

    &__txt {
        padding-bottom: 70px;
        font-family: Gilroy-Medium;
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 90px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            color: #828282;
            font-size: 14px;
        }
    }
}

.portfolio {
    padding: 100px 250px;
    background: #F6F6F6;

    &__header {
        padding-bottom: 100px;
        font-size: 34px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        &-img {
            width: 100%;
            height: auto;
        }

        &-title {
            font-size: 24px;
        }

        &-btns {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &-btn {
            border-radius: 25px;
            background-color: #070707;
            padding: 13px 30px;
            color: #FFF;
        }


    }
}

.footer {
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__title {
        font-size: 34px;
    }

    &__txt {
        font-family: Gilroy-Medium;
    }

    &__btn {
        border-radius: 25px;
        background-color: #070707;
        padding: 13px 30px;
        color: #FFF;
    }

    &__social {
        padding: 60px 0;
        display: flex;
        align-items: center;
        gap: 60px;

        &-txt {
            color: #828282;
            font-family: Gilroy-Medium;
            font-size: 14px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 0 200px;

    }

    .portfolio {
        padding: 100px 200px;
    }
}

@media (max-width: 1040px) {
    .header {
        padding: 0 150px;

    }

    .portfolio {
        padding: 100px 150px;
    }
}

@media (max-width: 850px) {
    .header {
        padding: 0 100px;

    }

    .portfolio {
        padding: 100px 100px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 50px;

    }

    .skills {
        padding: 100px 180px;
    }

    .portfolio {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 0 30px;

    }

    .skills {
        padding: 100px 120px;
    }

    .portfolio {
        padding: 100px 30px;
    }
}

@media (max-width: 540px) {
    .header {
        &__content {
            width: 180px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
        }

    }
}

@media (max-width: 480px) {
    .header {
        &__nav {
            position: absolute;
            background: #FFF;
            width: 100%;
            border: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 57px;
            display: none;

            &-link {
                font-size: 34px;
            }

            &-close {
                display: block;
            }

            &-close:hover {
                color: #070707;
            }
        }

        &__burger {
            display: block;
        }

    }

    .skills {
        padding: 100px 30px;
    }

    .footer {
        &__social {
            gap: 30px;
        }
    }
}